<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Switch this to use the localhost value and your port number to test it locally.
          Run it from visual studio.
          Use sc.exe to install the service 
          You could of course also deploy to a webserver of your choice
          -->
    <!--add key="appUrl" value="$#APPLICATIONURL#$"/-->
    <add key="appUrl" value="https://localhost:17115/"/>
</appSettings>
</configuration>